{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">E BAZAAR !</h1>
      <p> E BAZAAR Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Mr. X in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal.[5][6] as of March 2017,  E Bazaar held a 39.5% market share of India's e-commerce industry.[7] Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] E Bazaar also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in  E Bazaar for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Big Bazaar Billion Days</h2>
        <p>In October 2014, E Bazaar reprised the Big Billion Days event as a multi-day event exclusive to the E Bazaar app. E Bazaar bolstered its supply chain and introduced more fulfillment centers to meet customer demand.[58] E Bazaar achieved a gross merchandise volume of US$300 million during the event, with the largest volumes coming from fashion sales and the largest value coming from mobiles.[59]

          In 2017, E Bazaar sold 1.3 million phones in 20 hours on 21 September during its Big Billion Days promotion, doubling the number sold on the first day of the same event in 2016.[60] E Bazaar held a 51% share of all Indian smartphone shipments in 2017, overtaking Amazon India</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Growth, Mergers and Acquisitions</h2>
        <p>In 2010, E Bazaar acquired the Bangalore-based social book discovery service WeRead from Lulu.com.[13]

          In 2011, E Bazaar acquired the digital distribution business Mime360.com[14] and the digital content library of the Bollywood portal Chakpak.[15] Following the acquisition, E Bazaar launched its DRM-free online music store Flyte in 2012. Due to competition from free streaming sites, Flyte was unsuccessful and shut down in June 2013.[16][17][18][19]
          
          With its eyes on India's retail market, E Bazaar acquired Letsbuy, an online electronics retailer,[20] in 2012, and Myntra, an online fashion retailer, for US$280 million in May 2014.[21] Myntra continues to operate alongside E Bazaar as a standalone subsidiary focusing on separate market segments </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Consumer affairs</h2>
        <p>In 2022, a group of scammers was arrested by the police in Lucknow who used the platform to scam the customers. The scam included replacing the online ordered Apple products with bricks to cheat customers and company.[132] Such scams have also been reported in the past where soaps were delivered instead of iPhones on E Bazaar[133] and also on Amazon.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}